@import "tailwindcss";

@theme {
  --color-on-secondary-container: #85232d;
  --color-background: #fff4f3;
  --color-on-tertiary-container: #50086f;
  --color-on-error: #ffefef;
  --color-primary-dim: #9c1c00;
  --color-on-secondary-fixed-variant: #912c35;
  --color-on-tertiary-fixed: #2c0040;
  --color-tertiary-fixed-dim: #cd88ec;
  --color-secondary-fixed: #ffc3c3;
  --color-on-primary-fixed: #000000;
  --color-on-primary-fixed-variant: #5b0c00;
  --color-on-primary-container: #4a0800;
  --color-secondary: #a0373f;
  --color-on-background: #4e2123;
  --color-surface-container: #ffe1e1;
  --color-surface-bright: #fff4f3;
  --color-secondary-container: #ffc3c3;
  --color-error-container: #f74b6d;
  --color-error-dim: #a70138;
  --color-secondary-dim: #902b34;
  --color-on-surface-variant: #834c4e;
  --color-tertiary-dim: #723291;
  --color-surface-dim: #ffc7c7;
  --color-secondary-fixed-dim: #ffafb0;
  --color-on-error-container: #510017;
  --color-surface-container-high: #ffdad9;
  --color-surface-variant: #ffd2d2;
  --color-error: #b41340;
  --color-inverse-primary: #fe5733;
  --color-on-surface: #4e2123;
  --color-surface-tint: #b22200;
  --color-surface-container-lowest: #ffffff;
  --color-primary-container: #ff785a;
  --color-outline: #a26768;
  --color-on-secondary: #ffefee;
  --color-outline-variant: #df9c9c;
  --color-inverse-surface: #240305;
  --color-tertiary: #7f3f9e;
  --color-on-secondary-fixed: #6a0d1b;
  --color-surface-container-low: #ffedec;
  --color-primary-fixed-dim: #ff5c39;
  --color-tertiary-fixed: #dc95fb;
  --color-primary: #b22200;
  --color-surface-container-highest: #ffd2d2;
  --color-on-primary: #ffefec;
  --color-on-tertiary: #feeeff;
  --color-on-tertiary-fixed-variant: #591779;
  --color-primary-fixed: #ff785a;
  --color-tertiary-container: #dc95fb;
  --color-surface: #fff4f3;

  --font-headline: "Plus Jakarta Sans", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-on-surface);
    font-family: var(--font-body);
    min-height: max(884px, 100dvh);
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
  }
  .editorial-shadow {
    box-shadow: 0 8px 32px rgba(78, 33, 35, 0.06);
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
